.custom-box{
    text-align: center;
}
.custom-h1{
    font-weight: bold !important;   
}
.custom-section{
    font-weight: bold !important;
    background-color: #F3F3F3;
    border-width: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 14px;
}
.custom-combolabel label{
    font-weight: bold !important;   
}